{% extends 'partials/layout.njk' %}
{%block title %} Form {%endblock%}
{% block content %}
    <h1>
        Form
    </h1>
    <form>
        <div class="mb-3">
            <label for="name" class="form-label">
                Name
            </label>
            <input type="text" class="form-control" id="name" placeholder="John Smith"></div>
            <div class="mb-3">
                <label for="bio" class="form-label">Write about you</label>
                <textarea class="form-control" id="bio" rows="3"></textarea>
            </div>
            <div class="mb-3">
                <label for="age" class="form-label">
                    Age
                </label>
                <input type="number" min="0" max="200" class="form-control" id="name"></div>
                <div class="mb-3">
                    <label for="bday" class="form-label">
                        Birth date
                    </label>
                    <input type="number" class="form-control" id="bday"></div>
                    <div class="mb-3">
                        <label for="favcolor" class="form-label">
                            Favorite color
                        </label>
                        <input type="color" class="form-control" id="favcolor"></div>
                        <div class="mb-3">
                            <label for="cool" class="form-label">
                                Are you cool?
                            </label>
                            <input type="checkbox" class="form-check-input" id="cool"></div>
                            <div class="mb-3">
                                <label for="bday" class="form-label">
                                    Birth date
                                </label>
                                <input type="number" class="form-control" id="bday"></div>
                                <div class="mb-3">
                                    <p>
                                        Choose your starter pokemon
                                    </p>
                                    <input type="radio" class="form-check-input" id="bulba">
                                        <label for="bulba" class="form-label">
                                            Bulbasaur
                                        </label>
                                        <input type="radio" class="form-check-input" id="squirtle">
                                            <label for="squirtle" class="form-label">
                                                Squirtle
                                            </label>
                                            <input type="radio" class="form-check-input" id="Charmander">
                                                <label for="Charmander" class="form-label">
                                                    Charmander
                                                </label>
                                                <input type="radio" class="form-check-input" id="pika">
                                                    <label for="pika" class="form-label">
                                                        Pikachu
                                                    </label>
                                                    <div class="mb-3">
                                                        <p>
                                                            Food order
                                                        </p>
                                                        <input name="food" type="checkbox" class="form-check-input" id="burger">
                                                            <label for="burger" class="form-label">
                                                                Burger
                                                            </label>
                                                            <input name="food" type="checkbox" class="form-check-input" id="fries">
                                                                <label for="fries" class="form-label">
                                                                    Fries
                                                                </label>
                                                                <input name="food" type="checkbox" class="form-check-input" id="coke">
                                                                    <label for="coke" class="form-label">
                                                                        Coke
                                                                    </label>
                                                                    <input name="food" type="checkbox" class="form-check-input" id="icecream">
                                                                        <label for="icecream" class="form-label">
                                                                            Ice Cream
                                                                        </label>
                                                                    </div>
                                                                    <div class="mb-3">
                                                                        <label for="fruit" class="form-label">
                                                                            Favorite fruit
                                                                        </label>
                                                                        <select id="fruit" class="form-select">
                                                                            <option disabled="disabled" selected="selected">
                                                                                Select fruit
                                                                            </option>
                                                                            <option>
                                                                                Banana
                                                                            </option>
                                                                            <option>
                                                                                Apple
                                                                            </option>
                                                                            <option>
                                                                                Cherry
                                                                            </option>
                                                                            <option>
                                                                                Pear
                                                                            </option>
                                                                            <option>
                                                                                Pineapple
                                                                            </option>
                                                                        </select>
                                                                    </div>
                                                                    
                                                                    <div class="mb-3">
                                                                        <label for="fruit" class="form-label"> What languages do u speak? </label>
                                                                        <select multiple id="fruit" class= "form-select" size="5">
                                                                            <option> Estonian </option>
                                                                            <option> Russian </option>
                                                                            <option> English </option>
                                                                            <option> Spanish </option>
                                                                            <option> German </option>
                                                                            </select>
                                                                            </div>

                                                                            <div class="mb-3">
                                                                                <label for="like" class="form-label"> How much do u like this form? </label>
                                                                                <input type="range" class="form-range" id="like">
                                                                                </div>
                                                                                <input type="submit" class="btn btn-primary"> Send 

                                                                </form>
                                                            {% endblock %}